doctype html
html(lang='en')
  head
    title RadulescuPETRU
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon",href="assets/img/favicons/favicon.ico")
    link(rel='stylesheet', href='assets/css/main.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway:300",rel="stylesheet",type="text/css")
    
  body
    .home-wrap
        include assets/css/4-pages/header.jade
       
        .home-sections
            
            include assets/css/5-sections/about.jade
            include assets/css/5-sections/9gag.jade
            include assets/css/5-sections/social.jade
            include assets/css/5-sections/artwork.jade
            include assets/css/4-pages/columns.jade
            include assets/css/5-sections/contact.jade
            
            
            
        
        
        
        
    
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js')
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/functions.js', type='text/javascript')