            

            
section
    .flex.flex--center
        .col-2
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eos harum laudantium temporibus quisquam, perferendis eveniet corrupti accusantium rerum porro iure illo esse, deleniti architecto tenetur nemo fuga. Sapiente, facere.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eos harum laudantium temporibus quisquam, perferendis eveniet corrupti accusantium rerum porro iure illo esse, deleniti architecto tenetur nemo fuga. Sapiente, facere.
            
            
section
    .flex.flex--center
        .col-50.flex.flex--center
            .col-1
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eos harum laudantium temporibus quisquam, perferendis eveniet corrupti accusantium rerum porro iure illo esse, deleniti architecto tenetur nemo fuga. Sapiente, facere.
            .col-50
                p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eos harum laudantium temporibus quisquam, perferendis eveniet corrupti accusantium rerum porro iure illo esse, deleniti architecto tenetur nemo fuga. Sapiente, facere.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eos harum 