section.gag#9gag
    .flex.flex--space-around
        .col-1
            .picture-strip
            .flex-video
                img#imgAnimate

        .col-1.order-first
            p.home-lead.outdented ...creating funny memes on 9GAG...
            a(href="").home-cta See on 9GAG
           