mixin desing-strip(img,message)
    .design-box
        .overlay 
            .like asdasda
          
            .more awda
            .text
                p #{message}
        img(src="assets/img/social-img/#{img}").design-image


        

            
            
    
            
            
section.artwork#artwork
        .row-50.portfolio
            +desing-strip('1.png',"This is a self-portrait I`ve made for fun and also to consolidate my Adobe Illustrator skills.")
            +desing-strip('2.png',"LOL this isn`n actually mine,but I sketched one just the same for a project and named it 'Space Kitchen'")
            +desing-strip('3.png',"This is one of my entries in a design contest held my MEGA IMAGE,a big food chain here in Romania.")
            +desing-strip('4.png',"The hoodie is one of the first things I`ve designed and I`m actually proud of how it turned out.")
            +desing-strip('5.png',"This is the web-browser view of a webform for a car service company I`ve designed a while a go. ")
        
            
            
            
                
        .row-50.artist
            p.home-lead ...making designs for contests and friends...
           
            img(src="assets/img/artistme.png").me
            a(href="").home-cta See full portfolio
            

            
                
                
                
                